.vscode/
*.suo
*.user
bin
obj
packages
.vs/
WebAPI/obj/
WebAPI/bin/
PresentationLayer/obj/
PresentationLayer/bin/
ApplicationLayer/bin/
ApplicationLayer/obj/
DomainLayer/bin/
DomainLayer/obj/
InfrastructureLayer/bin/
InfrastructureLayer/obj/
PresentationLayer/obj/
PresentationLayer/bin/
